.task{
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task span.title {
    flex-grow: 1;
    font-size: 14px;
    padding: 8px 10px;
    display: block;
    margin: 0 8px;
}

.task input.title {
    flex-grow: 1;
    font-size: 14px;
    padding: 8px 10px;
    display: block;
    margin: 0 5px;
}

.task button {
    background-color: tomato;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #e8553b;
}

.task button:hover {
    background-color: #e8553b;
}